topic_correlations_K30_with_labels.pdf
topic_correlations_K45_with_labels.pdf
expected_topic_proportions_K30.pdf
expected_topic_proportions_K30_with_labels.pdf
expected_topic_proportions_K45.pdf
expected_topic_proportions_K45_with_labels.pdf
